flash.notice = "Article Updated!"

<h1><%= @article.title %></h1>
<p class = "show_body"><%= @article.body %></p>

<p><%= link_to "edit", edit_article_path(@article) %>
<%= link_to "delete", article_path(@article), method: :delete , data: {confirm: "sure?"}%>
</p>

<%= render 'comments/form' %>


<h4><%= @article.comments.count%> Comments</h4> 

<%= render @article.comments %>


<%= link_to "<< Back to Articles List", articles_path %>